<!--
including header content which is common for all pages
-->

<%- include ../layouts/header.ejs %>
<div class="text-center">
	<a href="/">Home</a> |
	<a href="/customers/add">Add New Customer</a> |
	<a href="/customers/list">All Customer List</a>
</div>
<div class="text-center">
<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>
</div>
<div class="text-center">
<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>
</div>
<div style="width: 60%; margin: 0 auto;">
<form action="/customers/add" method="post" name="form1" class="form-signin text-center">
	<div class="panel panel-body login-form">
	<div class="text-center">
	<div class="icon-object border-slate-300 text-slate-300"><i class="icon-plus3"></i></div>
	<div style="color:red">Note: Please Enter Customer ID with first 3 letter of CompanyName and 2 letters of ContactName</div>
	<table width="55%" border="0" align=center>
		<tr>
			<td>CustomerID</td>
			<td><input type="text" class="form-control" style="text-transform:uppercase" name="CustomerID" id="CustomerID" value="<%= CustomerID %>"/></td>
		</tr>
		<tr>
			<td>CompanyName</td>
			<td><input type="text" class="form-control" name="CompanyName" value="<%= CompanyName %>" /></td>
		</tr>
		<tr>
			<td>ContactName</td>
			<td><input type="text" class="form-control" name="ContactName" value="<%= ContactName %>" /></td>
		</tr>
		<tr>
			<td>ContactTitle</td>
			<td><input type="text" class="form-control" name="ContactTitle" value="<%= ContactTitle %>" /></td>
		</tr>
		<tr>
			<td>Address</td>
			<td><input type="text" class="form-control" name="Address" value="<%= Address %>" /></td>
		</tr>
		<tr>
			<td>City</td>
			<td><input type="text" class="form-control" name="City" value="<%= City %>" /></td>
		</tr>
		<tr>
			<td>Region</td>
			<td><input type="text" class="form-control" name="Region" value="<%= Region %>" /></td>
		</tr>
		<tr>
			<td>PostalCode</td>
			<td><input type="text" class="form-control" name="PostalCode" value="<%= PostalCode %>" /></td>
		</tr>
		<tr>
			<td>Country</td>
			<td><input type="text" class="form-control" name="Country" value="<%= Country %>" /></td>
		</tr>
		<tr>
			<td>Phone</td>
			<td><input type="text" class="form-control" name="Phone" value="<%= Phone %>" /></td>
		</tr><tr>
			<td>Fax</td>
			<td><input type="text" class="form-control" name="Fax" value="<%= Fax %>" /></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" class="btn bg-blue btn-block" name="Submit" value="Add" /></td>
		</tr>
	</table>
	</div></div>
</form>
</div>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
